{% extends "base.html" %}
{% block title %}Archive - {{ SITENAME }}{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
{% endblock %}


{% block content %}
<div role="main" class="content clearfix">
<div id="jquerytabs" class="wrapper main">
	<ul class="tabmenu clearfix">
		<li><a href="#fecha">By date</a></li>
		<li><a href="#etiqueta">By topic</a></li>
	</ul>

	<div id="fecha">
	{% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}
		<h2>{{ year }}</h2>
		{% for month, date_month in date_year|groupby('date.month')|sort(reverse=True) %}
			<h3>{{ month }}</h3>
			<ol class="archive">
				{% for article in date_month %}
				<li class="clearfix">
					<a href="{{ article.url }}">
						<time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
						{{ article.title }}
					</a>
				</li>
				{% endfor %}
			</ol>
		{% endfor %}
	{% endfor %}
	</div>

	<div id="etiqueta">
		<h2>Tags</h2>
		<ul class="tag">
			{% for tag in tag_cloud %}
				<li class="tag-{{ tag.1 }}">
					<a href="{{ SITEURL }}/{{ tag.0.url }}">
						{{ tag.0 }}
						{% if TAG_CLOUD_BADGE %}
							<span class="badge">{{ tag.2 }}</span>
						{% endif %}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

</div>
</div>

<script>
	$(function() {
		$("#jquerytabs").tabs();
	});
</script>
{% endblock %}
